/* Root container */
.root {
    -fx-background-color: #e9eef3;
    -fx-padding: 20px;
}

/* Header styling */
.header {
    -fx-alignment: center;
    -fx-spacing: 20px;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

/* Styling for buttons */
.button {
    -fx-background-color: #e9eef3;
    -fx-font-size: 22px;
    -fx-font-family: "Lucida Sans Unicode";
    -fx-padding: 10px 20px;
    -fx-border-color: transparent;
    -fx-text-fill: #333333;
}

/* Hover effect for buttons */
.button:hover {
    -fx-background-color: #d9e3e9;
    -fx-cursor: hand;
}

/* Table styling */
.table-container {
    -fx-padding: 20px;
}

.table-view {
    -fx-background-color: white;
    -fx-border-color: #d0d0d0;
    -fx-border-radius: 10px;
}

.table-column {
    -fx-font-size: 18px;
    -fx-font-family: "Arial";
}

/* Styling for the label above the table */
.label-title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-text-fill: #333333;
}

/* Styling for images */
.image-view {
    -fx-preserve-ratio: true;
    -fx-fit-height: 124px;
    -fx-fit-width: 137px;
}
